body{
    font-family: tahoma;
    font-size: 14px;
    line-height: 22px;

}

p{
    padding: 20px 0;
}

h1{
    font-size: 40px;
    text-align: center;
    line-height: 52px;
    margin: 25px 0;
    padding-bottom: 25px;
    color:  #d31f7a;
    /*  */
    border-bottom: 3px solid #ddd;
    font-weight: 300;
}

.navi{
    text-align: center;
}

.navi li{
    display: inline-block;
    margin: 5px;
}

.navi li a{
    padding: 10px 18px;
    display: block;
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
}

.navi li a.active{
    color: #000;
    border-bottom: 1px solid #ddd;
}

.navi li a:hover{
    color: #d31f7a;
}

.page-wrap{
    padding: 25px;
}

.page-wrap .page{
    display: none;
}

.page-wrap .page.active{
    display: block;
}

.load{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    display: none;
}

.load .in-wrap{
    width: 120px;
    height: 120px;
    position: absolute;
}

.load .sq{
    width: 50px;
    height: 50px;
    background: #d31f7a;
    position: absolute;
    transform: scale(0.1, 0.1) rotate(75deg);
    opacity: 0;
    transition: all 0.4s;
}

.load .sq:nth-child(1){
    left: 0;
    top: 0;
    transition-delay: 0s;
}

.load .sq:nth-child(2){
    left: 59px;
    top: 0;
    transition-delay: 0.1s;
}

.load .sq:nth-child(3){
    left: 0;
    top: 59px;
    transition-delay: 0.2s;
}

.load .sq:nth-child(4){
    left: 59px;
    top: 59px;
    transition-delay: 0.3s;
}

.load .sq.animate{
    transform: scale(1, 1) rotate(0deg);
    opacity: 1;
}

.load .sq.full{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.load .in-wrap .sq.white{
    background: white;
}
